In [1]:
print("hello world")

hello world

In [6]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [7]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [8]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [9]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [10]:
#Type conversion implicit and explicit
#explicit conversion
a=5
print(a,type(a))

a=a/2
print(a,type(a))
#Implicit conversion
b="5"
print(b,type(b))
b=int(b)
print(b,type(b))

5 <class 'int'>
2.5 <class 'float'>
5 <class 'str'>
5 <class 'int'>

In [11]:
x = 5
y = 3

print(x + y)

8

In [12]:
x=5
y=3
print(x-y)

2

In [13]:
x = 5
y = 3

print(x == y)

False

In [14]:
x = 5
y = 3

print(x > y)

True

In [17]:
x=15
y=10
print(x&y)

10

In [18]:
x=15
y=10
print(x^y)

5

In [19]:
x = 5

print(x > 3 and x < 10)

True

In [20]:
x = 5

print(x > 3 or x < 4)

True

In [21]:
x = 5

x += 3

print(x)

8

In [22]:
x=5
x-=3
print(x)

2

In [23]:
x = ["apple", "banana"]

print("banana" in x)

True

In [24]:
x = ["apple", "banana"]

print("pineapple" not in x)

True

In [26]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x==y)

True
False
True

In [27]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

print(x is not y)

print(x != y)

False
True
False